/* Grid
########################################################################## */

.grid{
    display: grid;
    gap: var(--m);
}

@media screen and (min-width: 480px) {
    .grid[data-columns='2']{
        grid-template-columns: repeat(2, 1fr);
    }
}